@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
	/* ### color ###  */
	/* ##primary ## */
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);

	/* ## neutral ## */
	/* paragraphs */
	--transparent-white: hsla(0, 0%, 100%, 0.75);

	/* background, headings, buttons */
	--very-light-gray: hsl(0, 0%, 95%);

	/* ### typography ### */

	/* ##font size ## */
	/* body copy  */
	--fs-header: 2.5rem;
	--fs-body: 0.94rem;

	/* ## font family ## */

	--ff-primary: 'Big Shoulders Display', cursive;
	--ff-secondary: 'Lexend Deca', sans-serif;
}

/* general style  */

html {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	position: relative;
	background-color: #f2f2f2;
	font-size: var(--fs-body);
	line-height: 1.56rem;

	height: calc(100vh - 100%);
}

img {
	max-width: 100%;
	align-self: flex-start;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 100px);
	margin: 5.5em auto 5.5em;
	width: 90%;
}

/* cards  */

.card {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 57.5rem;

	border-radius: 0.5rem;
	overflow: hidden;
}

.card h2 {
	color: #f2f2f2;
	font-family: var(--ff-primary);
	font-size: var(--fs-header);
	font-weight: 700;
	line-height: 3rem;
}

.card p {
	color: #fff;
	font-family: var(--ff-secondary);
	font-weight: 400;
}

.card > * {
	flex: 1 1 33%;
}

.cards {
	padding: 3em;
}

.cards > * {
	margin-bottom: 1.56rem;
}

.card-column-1 {
	background-color: var(--bright-orange);
}

.card-column-2 {
	background-color: var(--dark-cyan);
}

.card-column-3 {
	background-color: var(--very-dark-cyan);
}

.btn {
	background-color: #f2f2f2;
	border: none;
	border-radius: 1.56rem;

	padding: 1em 2.5em;
}

.btn:hover {
	cursor: pointer;
	background: transparent;
	border: solid #fff;
	color: #fff;
}

.card-btn-1 {
	color: var(--bright-orange);
}

.card-btn-2 {
	color: var(--dark-cyan);
}

.card-btn-3 {
	color: var(--very-dark-cyan);
}

.attribution {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
